################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/plan.txt
/js/test2.luau
/js/test.luau
